<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  This is the home page for the Ruby on Rails Tutorial sample application developed by Jérôme Tan as an exercise.
  You can find the code of this app on <a href="https://github.com/tanj9/sample_app">its GitHub repository</a>.
</p>
